@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$primary-color: #6441a5;

html, body {
	color: #333;
	font-family: 'Roboto', sans-serif;
	height: 100%;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

#app {
	height: 100%;
	width: 100%;
}

#content {
	color: red;
	padding: 15px;
}

.app {
	height: 100%;
	position: absolute;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;
}

.button {
	background-color: #ddd;
	color: #333;
	cursor: pointer;
	padding: 8px;
}

.button:hover {
	background-color: #eee;
}

.button-primary {
	background-color: #7a62d3;
	color: white;
}

.button-primary:hover {
	background-color: #bfadff;
}

.channels {
	width: 80px;
}

.channels-channel {
	background-color: black;
	border-radius: 50px;
	color: white;
	cursor: pointer;
	margin-left: 16px;
	margin-top: 16px;
	height: 48px;
	width: 48px;
}

.channels-join {
	border: 2px solid darken($primary-color, 10%);
	border-radius: 50px;
	color: lighten($primary-color, 30%);
	cursor: pointer;
	margin-left: 16px;
	margin-top: 16px;
	height: 44px;
	width: 44px;
}

.channels-join > i {
	padding: 15px;
}

.channels-separator {
	border-bottom: 2px solid darken($primary-color, 20%);
	margin-left: 24px;
	margin-right: 24px;
	margin-top: 8px;
}

.channels-text {
	font-size: 10px;
	margin-top: 8px;
	text-align: center;
}

.channels-whispers {
	background-color: darken($primary-color, 20%);
	border-radius: 50px;
	color: white;
	margin-left: 16px;
	margin-top: 16px;
	height: 48px;
	width: 48px;
}

.channels-whispers > i {
	padding: 8px;
}

.channels-wrapper {
	background-color: darken($primary-color, 30%);
	color: lighten($primary-color, 40%);
	height: 100%;
	width: 80px;
}

.fade-enter {
	opacity: 0;
}

.fade-enter.fade-enter-active {
	opacity: 1;
	transition: 250ms;
}

.fade-leave {
	opacity: 1;
}

.fade-leave.fade-leave-active {
	opacity: 0;
	transition: 250ms;
}

.fade-height-enter {
	max-height: 0;
	opacity: 0;
}

.fade-height-enter.fade-height-enter-active {
	max-height: 100px;
	opacity: 1;
	transition: 500ms ease-in;
}

.fade-height-leave {
	max-height: 100px;
	opacity: 1;
}

.fade-height-leave.fade-height-leave-active {
	max-height: 0;
	opacity: 0;
	transition: 500ms ease-out;
}

.flex-horizontal {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.flex-vertical {
	display: flex;
	flex-direction: column;
}

.message {
	display: flex;
	font-size: 14px;
	padding-bottom: 8px;
	padding-left: 8px;
}

.message-avatar {
	background-color: black;
	border-radius: 50px;
	height: 16px;
	min-height: 16px;
	min-width: 16px;
	width: 16px;
}

.message-content {
	padding-left: 5px;
}

.message-hatchat {
	color: #999;
	padding-top: 8px;
}

.messages {
	width: 100%;
}

.messages-bar {
	background-color: #f8f8f8;
	border-bottom: 1px solid #eee; 
	border-right: 1px solid #eee;
	border-top: 1px solid #eee;
	min-height: 64px;
	-webkit-app-region: drag;
}

.messages-bar-buttons {
	color: #999;
	float: right;
	padding: 22px;
	-webkit-app-region: no-drag;
}

.messages-bar-buttons i {
	cursor: pointer;
	padding-left: 10px;
}

.messages-bar-name {
	font-size: 24px;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 10px;
}

.messages-bar-subtitle {
	color: #999;
	font-size: 12px;
	padding-left: 10px;
	padding-top: 2px;
}

.messages-content {
	height: 100%;
	overflow-y: scroll;
}

.messages-content::-webkit-scrollbar {
	width: 10px;
}

.messages-content::-webkit-scrollbar-thumb {
	background-color: #ddd;
	border-radius: 15px;
}

.messages-content::-webkit-scrollbar-track {
	background-color: white;
	margin: 5px;
}

.messages-content::-webkit-scrollbar-track-piece {
	background-color: white;
}

.messages-embed {
	background-color: black;
	height: 400px;
	width: 100% !important;
}

.messages-embed iframe {
	border: none;
	display: flex;
	height: 100%;
	margin: 0 auto;
	width: 100%;
}

.messages-wrapper {
	height: 100%;
	width: 100%;
}

.modal-buttons {
	bottom: 23px;
	position: absolute;
	right: 16px;
}

.modal-buttons a {
	margin-left: 10px;
}

.modal-content {
	background: #fff;
	height: 500px;
	outline: none;
	overflow: auto;
	width: 500px;
}

.modal-content input {
	font-size: 24px;
	width: calc(100% - 16px);
}

.modal-overlay {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.modal-padding {
	padding: 16px;
}

.modal-title {
	background-color: darken($primary-color, 20%);
	color: white;
	font-size: 16px;
	font-weight: 300;
	padding-bottom: 8px;
	padding-left: 12px;
	padding-top: 8px;
}

.titlebar {
	height: 25px;
	margin: 1px;
	pointer-events: none;
	position: fixed;
	width: 100%;
	z-index: 3000;
	-webkit-app-region: drag;
	-webkit-user-select: none;
}

.tooltip-green {
	color: #64dd17 !important;
}

.tooltip-orange {
	color: #ff9800 !important;
}

.userlist {
	overflow-y: scroll;
	padding-left: 12px;
}

.userlist::-webkit-scrollbar {
	width: 10px;
}

.userlist::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 15px;
}

.userlist::-webkit-scrollbar-track {
	background-color: #eee;
	margin: 5px;
}

.userlist::-webkit-scrollbar-track-piece {
	background-color: #eee;
}

.userlist-category {
	font-size: 12px;
	font-weight: bold;
	padding-top: 12px;
}

.userlist-wrapper {
	background-color: #eee;
	max-width: 240px;
	min-width: 240px;
	width: 240px;
}

.userlist-user {
	display: flex;
	padding-top: 3px;
}

.userlist-user-avatar {
	background-color: black;
	border-radius: 50px;
	height: 16px;
	min-height: 16px;
	min-width: 16px;
	width: 16px;
}

.userlist-user-name {
	font-size: 14px;
	margin-left: 5px;
}

.ReactModal__Content--after-open {
	animation: scaleForward .5s cubic-bezier(0.87, -0.41, 0.19, 1.44) forwards;
}

.ReactModal__Content--before-close {
	animation: scaleBack .5s cubic-bezier(0.87, -0.41, 0.19, 1.44) forwards;
}

.ReactModal__Overlay--after-open {
	animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.ReactModal__Overlay--before-close {
	animation: fadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}


@keyframes fadeIn {
	0% {
		background: rgba(0, 0, 0, 0);
		opacity: 0;
	}
	100% {
		background: rgba(0, 0, 0, 0.8);
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		background: rgba(0, 0, 0, 0.8);
		opacity: 1;
	}
	100% {
		background: rgba(0, 0, 0, 0);
		opacity: 0;
	}
}


@keyframes scaleBack {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.85);
	}
}

@keyframes scaleForward {
	0% {
		transform: scale(0.85);
	}
	100% {
		transform: scale(1);
	}
}